.left__input .dropdown div {
  left: -333px; }

.right__input .dropdown div {
  right: -19px; }

@media (max-width: 1024px) {
  .left__input .dropdown div {
    left: -230px;  }
  .right__input .dropdown div {
    right: -39px; } }


